<div class="bg-white">
  <div class="max-w-2xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
    <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:grid-cols-6 xl:gap-x-8">
      <a class="group button"
         *ngFor="let pokemon of collectedPokemons">
        <div class="w-full aspect-w-1 aspect-h-1 bg-gray-200 rounded-lg overflow-hidden xl:aspect-w-7 xl:aspect-h-8">
          <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name" class="w-full h-full object-center object-cover group-hover:opacity-75">
        </div>
        <app-catch-pokemon-button [pokemonName]="pokemon.name"></app-catch-pokemon-button>
        <p class="mt-1 text-lg font-medium text-gray-900">{{pokemon.name}}</p>
      </a>
    </div>
  </div>
</div>
