<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <input 
        type="text"
        ngModel
        name="trainername"
        required
        placeholder="Enter name"
        class="border border-black rounded p-2 mb-2"
    >
    <button 
        type="submit" 
        [disabled]="loginForm.form.invalid"
        class="bg-blue-600 p-2 rounded block"
    >LOGIN</button>

</form>