<button class="my-4 inline-block"
  (click)="onCatchClick($event)" type="button">

  <ng-container *ngIf="isCollected; then collected else notCollected" class="material-icons"></ng-container>

  <ng-template #collected>
    <span class="material-icons">radio_button_checked</span>
  </ng-template>

  <ng-template #notCollected>
    <span class="material-icons">radio_button_unchecked</span>
  </ng-template>
</button>
