<nav class="bg-amber-700 flex justify-between items-center p-4 sticky top-0 w-full">
  <span class="font-bold">Pokemon</span>
  <ng-container *ngIf="trainer !== undefined">
    <ul class="flex">
      <li class="px-4">
        <a routerLink="/trainer">Trainer</a>
      </li>
      <li class="px-4">
        <a routerLink="/catalogue">Pokémon</a>
      </li>
    </ul>
  </ng-container>
</nav>
